* {
    //border: 2px solid red;
}

html, body {
    background-color: #282c34;
    color: #abb2bf;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.about {
    padding: 5% 20% 5% 20%;
}

.header ul {
    display: flex;
    gap: 16px;
}

.header li {
    display: inline;
    list-style-type: none;
}

.about {
    background-color: #4aa5f0;
    color: #3f4451;
    display: flex;
    justify-content: center;
    gap: 72px;
    align-content: center;
}

.bio {
    width: 50%;
}

.pfp {
    background-color: grey;
    width: 200px;
    height: 200px;
    object-fit: cover;
}

.projects h1 {
    text-align: center;
}

.project {
    display: flex;
    justify-content: center;
    gap: 48px;
}

.project a {
    color: #abb2bf;
}

.project img {
    width: 200px;
    height: 200px;
    border: 2px solid #abb2bf;
    border-radius: 8px;
}

footer {
    display: flex;
    justify-self: flex-end;
    justify-content:center;
    align-items: center;
    gap: 8px;
    margin-top: auto;
}

footer a {
    color: #abb2bf;
}
